<p>memorycard works!</p>

<div class="container  rounded shadow">
    <div class="row justify-content-center">
      <!-- <div class="col-md-6 text-left rounded shadow py-5"> -->
  <div class="card mb-3">
    <img src="https://m.media-amazon.com/images/I/41+o3c8Qo+L._AC_SR400,600_.jpg"  width="50px">
    <img loading="eager" class="_396cs4" alt="ivoomi Spice Wireless Keyboard + Mouse Combo Set" src="https://rukminim1.flixcart.com/image/612/612/l01blow0/computer-acc-combo/x/j/j/spice-wireless-keyboard-mouse-3-ivoomi-original-imagbx7fbehtzhfn.jpeg?q=70">
    <div class="card-body">
      <h5 class="card-title">boAt Airdopes</h5>
      <p class="card-text">boAt Airdopes 4.1(1,74,0)
        ₹1,399₹2,49043% off</p>
        <button class="btn btn-primary" type="button"><span class="_3iRXzi"></span> BUY NOW</button>
    </div>
  </div>
  <div class="card">
    <img src="https://rukminim1.flixcart.com/image/612/612/kxhvf680/headphone/g/3/e/fire-500v2-neckband-hi-bass-wireless-bluetooth-headphone-original-imag9x6r55mzmety.jpeg?q=70">
    <img loading="eager" class="_396cs4" alt="zebion K200 Wired Keyboard + Hunk Wired Optical Mouse Combo Set" src="https://rukminim1.flixcart.com/image/612/612/xif0q/laptop-accessories-combo/5/m/z/k200-wired-keyboard-hunk-wired-optical-mouse-2-zebion-original-imagg4fcgzv7mrbu.jpeg?q=70">

    <div class="card-body">
      <h5 class="card-title">boAt Airdopes</h5>
      <p class="card-text">boAt Airdopes
        3.9(60,723)
        ₹1,499₹2,99049% off.</p>
        <button class="btn btn-primary" type="button"><span class="_3iRXzi"></span> BUY NOW</button>

    </div>

  </div><hr>
  <div class="card mb-3">
    <img  src="https://rukminim1.flixcart.com/image/612/612/l4ei1e80/headphone/b/j/w/bullets-wireless-z2-oneplus-original-imagfaww7ga6nshz.jpeg?q=70">
    <img loading="eager" class="_396cs4" alt="Microtek Line Interactive UPS LEGEND 650 UPS" src="https://rukminim1.flixcart.com/image/612/612/k7285u80/ups/g/p/s/ups-legend-650-microtek-original-imafpdzhf6zyqdh4.jpeg?q=70">
    <div class="card-body">
      <h5 class="card-title">OnePlus Bullets</h5>
      <p class="card-text">OnePlus Bullets
        4.2(3,36,800)
        ₹1,799₹2,29921% off
        Upto ₹1,250 Off on Exchange.</p>
        <button class="btn btn-primary" type="button"><span class="_3iRXzi"></span> BUY NOW</button>

    </div>
  </div>
  <div class="card">
    <img src="https://rukminim1.flixcart.com/image/612/612/xif0q/headphone/p/r/6/-original-imagg8mrdrwgz77v.jpeg?q=70"> 

    <img loading="eager" class="_396cs4" alt="PrintMall BigSize WaterProof Gaming Mouse Pad Non-Slip Rubber Base MousePad for Computer and Laptop Mousepad" src="https://rukminim1.flixcart.com/image/612/612/kpzt7680/mousepad/v/o/2/bigsize-waterproof-gaming-mouse-pad-non-slip-rubber-base-original-imag43kefzgpyw8d.jpeg?q=70">
    <div class="card-body">
      <h5 class="card-title">Boult Audio AirBass</h5>
      <p class="card-text">Boult Audio AirBass
        4(67,913)
        ₹1,399₹5,49974% off.</p>
        <button class="btn btn-primary" type="button"><span class="_3iRXzi"></span> BUY NOW</button>

    </div>

  </div><hr>
  
   