
 <div class="box1">
    <h3 style="background-color: rgb(21, 255, 0);color:white">*ngIf Example</h3>
    <label style="background-color:rgb(197, 3, 110);color:white">Click Me to See the Content</label> :&nbsp;&nbsp;&nbsp;
    <input type="checkbox" [(ngModel)]="isShow">
    <div *ngIf="isShow===true">
      <div class="box2">
        You Can See Me!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea inventore natus non? Alias iusto quos dolorum harum fugit minus aliquid totam, molestias quam illum, quod at laborum ab asperiores odit nemo ullam provident modi cum inventore? Iusto distinctio accusamus enim maxime, voluptate sapiente.
      </div>
    </div>
  </div>












