<p>computeraccessories works!</p>

<div class="container  rounded shadow">
    <div class="row justify-content-center">
      <!-- <div class="col-md-6 text-left rounded shadow py-5"> -->
  <div class="card mb-3">
    <img src="https://rukminim1.flixcart.com/image/612/612/kpzt7680/mousepad/v/o/2/bigsize-waterproof-gaming-mouse-pad-non-slip-rubber-base-original-imag43kefzgpyw8d.jpeg?q=70">
    <div class="card-body">
      <h5 class="card-title">Laptop Mousepad</h5>
      <p class="card-text"> Gaming Mousepad. Black. ₹799. ₹1,999 ; vcony 3D.</p>
        <button class="btn btn-primary" type="button"><span class="_3iRXzi"></span> BUY NOW</button>

    </div>
  </div>
  <div class="card">
    <img  src="https://rukminim1.flixcart.com/image/612/612/xif0q/laptop-accessories-combo/5/m/z/k200-wired-keyboard-hunk-wired-optical-mouse-2-zebion-original-imagg4fcgzv7mrbu.jpeg?q=70">

    <div class="card-body">
      <h5 class="card-title">Wired Keyboard </h5>
      <p class="card-text">Rs.1148 online. zebion K200 Keyboard .</p>
        <button class="btn btn-primary" type="button"><span class="_3iRXzi"></span> BUY NOW</button>

    </div>

  </div><hr>
  <div class="card mb-3">
    <img  src="https://rukminim1.flixcart.com/image/612/612/k7285u80/ups/g/p/s/ups-legend-650-microtek-original-imafpdzhf6zyqdh4.jpeg?q=70">
    <div class="card-body">
      <h5 class="card-title">650 UPS"</h5>
      <p class="card-text">Microtek Line Interactive UPS LEGEND 650 UPS"</p>
        <button class="btn btn-primary" type="button"><span class="_3iRXzi"></span> BUY NOW</button>

    </div>
  </div>
  <div class="card">

    <img src="https://rukminim1.flixcart.com/image/612/612/kpzt7680/mousepad/v/o/2/bigsize-waterproof-gaming-mouse-pad-non-slip-rubber-base-original-imag43kefzgpyw8d.jpeg?q=70">
    <div class="card-body">
      <h5 class="card-title">Laptop Mousepad</h5>
      <p class="card-text">PrintMall BigSize WaterProof Gaming Mouse Pad Non-Slip Rubber Base MousePad for Computer and Laptop Mousepad".</p>
        <button class="btn btn-primary" type="button"><span class="_3iRXzi"></span> BUY NOW</button>

    </div>

  </div><hr>
  
   