<!-- <p>child component!</p> -->
<!-- <div class="container container-sm container pt-5  pb-5  pl-5 bg-primary">
<h3 style="color:white;">@Input Decorator Assignment</h3>
<h2>Employee id: {{name.id}}</h2>
<h2>Employee Name:{{name.name}}</h2>
<h2>Employee Age :{{name.Age}}</h2>
<h2>Employee Salary:{{name.salary}}</h2>
</div> --> 
<p>Enter food name</p>

<!-- steps 1 user entering foods name   -->
<input type="text" (keyup.enter)="addtofood(item.value)" #item>
    <div>=============================================================</div>
    <div class="container col-sm-6 mt-1 ml-5" [ngStyle]="{'background-color':'white','border':'2px solid green','width':'1050px' }">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Stud Id</th>

              <th>Student Name</th>
              <th>Degree</th>
              <th>Pass Out Year</th>
              <th>Address</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of studInfo;let i=index;">
              <td>{{i+1}}</td>
              <td> {{item.name}}</td>
              <td>{{item.degree}}</td>
              <td> {{item.passOutYear}}</td>
              <td>{{item.address}}</td>
              <td>{{item.mobile}}</td>
              <td>{{item.email}}</td>
              <td><button (click)="remove2(i)" class="btn btn-danger">Remove</button></td>

            </tr>
          </tbody>
        </table>
      </div>
