<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5 mt-5">
            <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
                <div formGroupName="userDetails">
                    <div class="form-group">
                        <label for="usename">Username:</label>
                        <input type="text" class="form-control" name="" id="" placeholder="Enter User Name.."
                            formControlName="username">
                        <small class="text-danger"
                            *ngIf="myReactiveForm.get('userDetails.username').errors && myReactiveForm.get('userDetails.username').touched">
                            <span *ngIf="myReactiveForm.get('userDetails.username').errors['required']">Please enter
                                username</span>
                            <span *ngIf="myReactiveForm.get('userDetails.username').errors['notAllowedNames']">
                                {{myReactiveForm.get('userDetails.username').value }} is not allowed</span>

                        </small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>

                        <input type="email" class="form-control" name="" id="" placeholder="Enter User email.."
                            formControlName="email">
                        <small class="text-danger"
                            *ngIf="!myReactiveForm.get('userDetails.email').valid && myReactiveForm.get('userDetails.email').touched">
                            <!-- <span *ngIf="myReactiveForm.get('userDetails.email').errors['emailNotAllowed']"> 
                                {{myReactiveForm.get('userDetails.email').value }} is not allowed</span>
      -->
                            Please enter valid email
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="course">Select Course:</label>
                    <select class="form-control" formControlName="course" id="course">
                        <option value="Angular">Angular</option>
                        <option value="HTML">HTML</option>
                        <option value="JavaScript">JavaScript</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="usename">Gender:</label>

                    <div *ngFor="let gender of genders" class="custom-control custom-radio">
                        <input type="radio" id={{gender.id}} value={{gender.value}} class="custo-control-input"
                            formControlName="gender">
                        <label for="{{gender.id}}" class="custom-control-label">{{gender.value}}</label>
                    </div>
                </div>
                <div class="form-group">

                </div>
                <div class="form-group" formArrayName="skills">
                    <label>Skills</label>
                    <ng-container *ngFor="let skill of this.myReactiveForm.get('skills').controls;index as i">
                        <input type="text" class="form-control mt-2" placeholder="Add Skills" formControlName={{i}}>
                <button class="btn btn-danger" (click)="removeFormControl(i)">Remove Skills</button><br>

                    </ng-container>
                    <button class="btn btn-light btn-sm mt-4 btn-add" (click)="OnAddSkill()"><i>+</i>Add Skills</button>

                </div>

                    <button class="btn btn-success mt-4" [disabled]="!myReactiveForm.valid">Submit</button>

            </form>
        </div>
        <div class="row justify-content-center mt-2 mb-4" *ngIf="submitted">
            <div class="col-md-6-rounded shadow py-4">
                <h2>Reactive Form Data</h2>
                <p>User Name:<strong>{{myReactiveForm.get('userDetails.username').value}}</strong></p>
                <p>User Email:<strong>{{myReactiveForm.get('userDetails.email').value}}</strong></p>
                <p>Selected Course:<strong>{{myReactiveForm.get('course').value}}</strong></p>
                <p>Gender:<strong>{{myReactiveForm.get('gender').value}}</strong></p>
                <p>Skills:<strong>{{myReactiveForm.get('skills').value}}</strong></p>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered">
    <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th>Gender</th>
            <th>Skills</th>
    </thead>
    <tbody>
        <tr *ngFor="let stud of arrayStudent">
            <td>{{stud.username}}</td>
            <td>{{stud.email}}</td>
            <td>{{stud.course}}</td>
            <td>{{stud.gender}}</td>
            <td>{{stud.skills}}</td>
        </tr>
    </tbody>
</table>