<p>washingmachine works!</p>
<div class="card" >
    <img class="card-img-top" src="../../assets/images/washingmachine.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Washing Machine</h5>
      <p class="card-text">Some quick example text to build on the card title.</p>
      <a routerLink="washingmachine"  class="btn btn-primary">Buy</a>
    </div>
  </div>


  <img src="https://m.media-amazon.com/images/I/61krTrhiVkL._SY355_.jpg" class="a-dynamic-image a-stretch-vertical" id="" style="max-height: 309px; max-width: 309px;" data-old-hires="https://m.media-amazon.com/images/I/61krTrhiVkL._SL1500_.jpg" data-a-manual-replacement="true">