<!--The content below is only a placeholder and can be replaced.-->
  <!-- <app-servers></app-servers><br>
  <button type="button" class="btn btn-primary">Primary</button> -->
  <!-- <app-demodirectives></app-demodirectives> -->
  <!-- <app-ngswitch></app-ngswitch> -->
 <!-- <app-directivesass></app-directivesass>

 <app-ng-cources></app-ng-cources>
 <app-ngswithass></app-ngswithass> -->
<!-- <app-attri></app-attri>  -->
 <!-- <app-demodirectives [myinputMsg]="uName"></app-demodirectives> 
 <app-cust-pass></app-cust-pass>  -->
<!-- <app-employee></app-employee> -->
<!-- <app-atinputdeco [empInfo]="empObject"></app-atinputdeco> -->
 <!-- <div *ngFor="let e of EmployeeRecords">
<app-demodirectives [employee]="e"></app-demodirectives>
</div> -->

<!-- <select (change)="uid=sid.value" #sid>
  <option selected disabled>No value selected</option>
<option [value]="id" *ngFor="let id of [1,2,3,4]">
{{id}}</option>
</select> 

<div class="row" style="text-align:center;">
  <div class="col-md-12">
    <p>Color Name:<input type="text" placeholder="enter value" (blur)="handleData($event)"></p>

<p>Product Name: <input type="text" placeholder="Enter product name" [(ngModel)]="name"></p>
<p>Product Price: <input type="text" placeholder="Enter product price" [(ngModel)]="price"></p>
<button class="btn btn-primary" (click)="updateProduct()">Update product</button>
<app-hook *ngIf="appChildExist" [userid]="uid" [parentData]="data" [product]="product">
  <h1 #child>this is child content coming from parent component</h1>
</app-hook>
</div>
</div>

<button class="btn btn-danger" (click)="destroy()">Destroy  Component</button> -->
<!-- <app-dirassgn></app-dirassgn> -->
<!-- <app-parent-ngonchanges></app-parent-ngonchanges> -->


<app-simpleform></app-simpleform>
<router-outlet></router-outlet>

