<div class="container p-3 mb-2 bg-primary text-white mt-5">
    <div class="row">
   <label for="name" style="text-align: left;">Enter your name:</label><input type="text" placeholder="Enter ur name" [(ngModel)]="name">{{name}}
   <label for="password" style="text-align: left;">Enter password:</label><input type="password" placeholder="Enter password" [(ngModel)]="password">{{password}}
   <label for="re-enterpassword" style="text-align: left;">Re-Enter password:</label><input type="password" placeholder="Re-enter password" [(ngModel)]="rePassword">{{rePassword}}
   <div>
   <h1>{{msg}}</h1>

   <button class="btn btn-primary btn-group-lg" type="submit" [disabled]="!name&&!password&&!rePassword" (click)="showMsg()">Submit</button>

   <button class="btn btn-danger btn-group-lg"  type="reset" (click)="clear()"  [disabled]="!name&&!password&&!rePassword">Reset</button>
  </div>
    </div>
  </div>