<div class="container p-3 mb-2 bg-primary text-white mt-5">
    <div class="row">
   <label for="name" style="text-align: left;">Enter your name:</label><input type="text" placeholder="Enter ur name" [(ngModel)]="name">{{name}}
   <label for="password" style="text-align: left;">Enter password:</label><input type="password" placeholder="Enter password" [(ngModel)]="password">{{password}}
   <label for="re-enterpassword" style="text-align: left;">Re-Enter password:</label><input type="password" placeholder="Re-enter password" [(ngModel)]="rePassword">{{rePassword}}
   <div>
   <h1>{{msg}}</h1>

   <button class="btn btn-primary btn-group-lg" type="submit" [disabled]="!name&&!password&&!rePassword" (click)="showMsg()">Submit</button>

   <button class="btn btn-danger btn-group-lg"  type="reset" (click)="clear()"  [disabled]="!name&&!password&&!rePassword">Reset</button>
  </div>
    </div>
  </div>
  <div>=========================================</div>
  <!-- <div class="first">
    <h3>Beauty services at home </h3>

  <div id="mainDiv">

      <label for="studName" class="lbin1">Enter your Name :</label>
      <input type="text" class="lbin" #custName [(ngModel)]="customerName"><br><br>

      <label for="studDegree" class="lbin1">Service you want :</label>
      <input type="text" class="lbin" #custService [(ngModel)]="wantService"><br><br>

      <label for="studPassYear" class="lbin1">Select date for service :</label>
      <input type="date" class="lbin" #custdate [(ngModel)]="selectDate" ><br><br>

      <label for="studPassYear" class="lbin1">Select time for service :</label>
        <input type="time" class="lbin" #custtime [(ngModel)]="selectTime" ><br><br>

        <label for="studPassYear" class="lbin1">Enter your working mob. no :</label>
          <input type="tel" class="lbin" #custMob [(ngModel)]="customerMobile" ><br><br>

      <button type="button" class="lbin2 btn btn-success" (click)="addData(custName.value,custService.value,custdate.value,custtime.value,custMob.value)">Book Your Service</button>

  </div>
<br>

    <div>
      <table class="table table-bordered">
        <caption style="font-weight:900;text-align :center">Customer Information</caption> -->
        <!-- <thead>
          <tr>
            <th>Customer Name</th>
            <th>Wanted Service</th>
            <th>Select Date</th>
            <th>Select Time</th>
            <th>Enter Mobile</th>
          </tr>
        </thead>
    <tbody>
      <tr *ngFor="let item of cutInfo">
        <td> {{item.customerName}}</td>
        <td>{{item.wantService}}</td>
        <td> {{item.selectDate}}</td>
        <td>{{item.selectTime}}</td>
        <td>{{item.customerMobile}}</td>
      </tr>
    </tbody>
      </table>
    </div>
  </div> --> 
  <div>=========================================</div>
<!-- parent component -->
<!-- Passing data from one component to other -->
<h2>Parent Data</h2>

  <div class="container">

    <div class="row">
      <div class="col-sm-6 mt-3" style="border:2px solid green;color: black;">
        <div class="container mt-1">
          <h3>Student Information </h3>
          <table class="table table-striped">
            <tr>
              <td> <label for="studName">Enter Student Name :</label> </td>
              <td>
                <input type="text"  [(ngModel)]="name"  #sn><br><br>
              </td>
            </tr>
  
            <tr>
              <td>
                <label for="studDegree" >Student Degree:</label>
              </td>
              <td>
                <input type="text"   [(ngModel)]="degree" #sd><br><br>
              </td>
            </tr>
  
            <tr>
              <td>
                <label for="studPassYear">Pass Out Year :</label>
  
  
              </td>
              <td>
                <input type="date"  [(ngModel)]="passOutYear" #spy>
  
              </td>
            </tr>
  
            <tr>
              <td>
                <label for="studAdd">Address:</label>
  
              </td>
              <td>
                <textarea name="textarea" id="txt"   [(ngModel)]="address" cols="10"
                  rows="2" #sa></textarea><br><br>
  
              </td>
            </tr>
  
            <tr>
              <td>
                <label for="mobNo">Mobile No:</label>
  
              </td>
              <td>
                <input type="tel"  [(ngModel)]="mobile" #mn>
  
              </td>
            </tr>
  
            <tr>
              <td>
                <label for="email">Email Address:</label>
  
              </td>
              <td>
                <input type="email" [(ngModel)]="email" #em>
  
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-success" style="background-color:blue;color:white"
                  (click)="addData2(sn.value,sd.value,spy.value,sa.value,mn.value,em.value)" #sn,#sd,#spy,#sa,#mn,#em>Add To Table</button>
                
              </td>
              <td>
                <button class="btn btn-success" style="background-color:red;color:white"
                  (click)="clear2()" #sn,#sd,#spy,#sa,#mn,#em>Clear</button>
              </td>
              
            </tr>
          </table>
        </div>
</div>
<!-- child component  -->
<h2>Child Component</h2>
<app-inputdeoratoer [studInfo]="studInfo" ></app-inputdeoratoer>