<!-- 
<div class="container">
<table class="table ">
    <thead>
    <tr>
        <th>ID</th>

        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
        <th>Gender</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let emp of  empInfo;">
<td>{{emp.id}}</td>

<td>{{emp.name}}</td>
<td>{{emp.salary}}</td>
<td>{{emp.age}}</td>
<td>{{emp.gender}}</td>
    </tr>
</tbody>
</table>
</div> -->

<div class="form-group col-md-12">
    <label for="phonenumber">Phone number</label>
    <input type="number" class="form-control"   maxlength="10"
        #phonenumber="ngModel" id="phonenumber" name="phonenumber" pattern="[0-9]{10}"  required
        placeholder="00 000 00000" ngModel>
    <small class="text-danger error" *ngIf="!myForm.submitted && phonenumber.error?.pattern">Please
        enter only 10 digit phonenumber.</small>
</div>