<table class="table table-bordered">
 
    <tbody>
      <tr>
        <td>Name</td>
        <td>Otto</td>
 
      </tr>
      <tr>
        <td>DOB</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <td colspan="2">Gender</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>Thornton</td>
      </tr> 
      <tr>
        <td>Address</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <td>School</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <td>Department</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <td>Course:</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <td>Mobile No</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <td>Submit</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <td>Reset</td>
        <td>Thornton</td>
      </tr>
    </tbody>
  </table>
